<footer class="footer navbar navbar-fixed-bottom navbar-default">
  <div class="navbar-inner">
     <div class="container">
       <small>
        Project by Marina Zlatin. 2016.
        </small>
        <nav>
          <ul>
            <li><%= link_to "О проекте",    about_path %></li>
            <li><%= link_to "Условия",      rules_path %></li>
            <li><%= link_to "Наш опыт",     contact_path %></li>
            <li><%= link_to "Отзывы",       responses_path %></li>
            <li><%= link_to "Контакты",     contact_path %></li>
            <li><%= link_to "Вход",         signup_path %></li>
            <li><%= link_to "Регистрация",  signup_path %></li>
          </ul>
        </nav>
     </div>
  </div>
</footer>

